<div class="text-center">
  <h1>Profile details</h1>
</div>

<div class="container d-flex flex-column justify-content-center pt-3" style="border: 1px solid #DCDCDC; width:30%; border-radius: 20px; background-color:#DCDCDC; ">
  <div class="ps-4">
    <img src="<%= cl_image_path(@user.photo.key) %>" height="260" width="260" class="rounded-circle" style="object-fit: cover;">
  </div>

  <div>
    <p><strong>Name:</strong> <%= @user.name %></p>
    <p><strong>E-mail:</strong> <%= @user.email %></p>
    <p><strong>Description:</strong> <%= @user.description %></p>
  </div>
</div>
