<% activities.each do |activity| %>
    <div class=" col-md-4 col-xxl-2 .col-sm-12 mt-5" id="a-none">
    <%= link_to activity_path(activity) do %>
      <%= render activity %>
    <% end %>
    </div>
  <% end %>
