<div class="container">
  <h1>Activities</h1>


  <div class="row">
      <%= render "activities/list", activities: @activities %>
  </div>
      <%= link_to "New activity", new_activity_path, class: "btn btn-ghost" %>
</div>
