<div class="container">
  <div class="row">
    <h1>My activities</h1>
    <%= render "activities/list", activities: @activities %>
  </div>
    <div class="col mt-5">
     <%= link_to "+ New activity", new_activity_path, class: "btn btn-flat" %>
  </div>
</div>
