<h1 class="text-center">Post a new activity</h1>
  <%# <div class="border border-secondary" class="shadow-sm p-3 mb-5 bg-white rounded"> %>
    <%= render "form" %>
    <div class="text-center mt-4">
      <%= link_to "Back to activities", activities_path%>
    </div>
  <%# </div> %>
